aniso8601==6.0.0
asn1crypto==0.24.0
awscli==1.16.155
boto3==1.9.145
botocore==1.12.145
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.3.9
cryptography==2.6.1
docutils==0.14
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.9
Flask-JWT-Extended==3.18.1
Flask-PyMongo==2.2.0
Flask-RESTful==0.3.7
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
passlib==1.7.1
pyasn1==0.4.5
pycparser==2.19
PyJWT==1.7.1
pandas==1.0.1
pymongo==3.8.0
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
twilio==6.26.2
urllib3==1.24.2
Werkzeug==0.15.2
